/*------------------------------------------------------------ content ------------------------------------------------------------*/
.content {
    width: 100%;
    margin-left: 86px;
}

.page-info {
    display: flex;
    align-items:center;
    padding-bottom: 25px;
}

.back-button {
    background-color: transparent;
    border: none;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.back-button:hover {
    background: rgba(61, 29, 154, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.page-text {
    margin-left: 10px;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #3D1D9A;
}

.show-more {
    background: #FFCF83;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #3D1D9A;
}

.show-more:hover {
    background: #F4DFC2;
    font-weight: 600;
}


.page-main-line {
    padding-bottom: 20px;
}

/*------------------------------------------------------------ track-chart ------------------------------------------------------------*/
.page-main-tracks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 35px;
}

.page-main__tracks {
    width: 100%;
    position: relative;
}

.page-main__tracks li {
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .3s linear;
}
.page-main__tracks li:hover {
    background: rgba(255, 255, 255, 0.29);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.songItem {
    width: 100%;
    height: 50px;
}

.page-main-tracks li span {
    width: 22px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #3D1D9A;
}

.page-main-tracks li img {
    width: 40px;
    height: 40px;
    margin-left: 17px;
    border-radius: 100px;
}

.page-main-tracks li h5 {
    margin-left: 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #3D1D9A;
}

.page-main-tracks li h5 .subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #3D1D9A;
}
.page-main-tracks li .bi {
    margin-left: auto;
    margin-right: 15px;
    top: 14px;
    font-size: 24px;
    color: #3D1D9A;
}

/*-----------------------------
------------------------------- 
--------- track-chart ---------
-------------------------------
-----------------------------*/
